---
- name: Symlink HOME dotfiles
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/rc.d/{{ item }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.{{ item }}"
    state: link
  loop:
    - bash_logout
    - bash_profile
    - bashrc
    - gitconfig
    - gitconfig-theevocater
    - inputrc
    - tmux.conf
    - vim
    - vimrc
    - cvsignore
    - zshrc
- name: Ensure .config exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/"
    state: directory
    mode: "0755"
- name: Symlink .config/ dotfiles
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/rc.d/{{ item }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/{{ item }}"
    state: link
  loop:
    - kitty
    - nvim
