---
# Platform specific vars
- name: Linux
  ansible.builtin.include_vars: linux.yml
  when: ansible_facts['system'] == "Linux"
- name: OSX
  ansible.builtin.include_vars: osx.yml
  when: ansible_facts['system'] == "Darwin"

# Run Tasks
- name: Set up font
  ansible.builtin.import_tasks: fonts.yml
- name: Set up dotfiles links
  ansible.builtin.import_tasks: dotfiles.yml
