[submodule "vim/bundle/gundo.vim"]
	path = rc.d/vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdtree"]
	path = rc.d/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-yankring"]
	path = rc.d/vim/bundle/vim-yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/nerdcommenter"]
	path = rc.d/vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/fugitive"]
	path = rc.d/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-javascript"]
	path = rc.d/vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-surround"]
	path = rc.d/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-ragtag"]
	path = rc.d/vim/bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-unimpaired"]
	path = rc.d/vim/bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/a.vim"]
	path = rc.d/vim/bundle/a.vim
	url = http://github.com/theevocater/a.vim.git
[submodule "vim/bundle/taglist.vim"]
	path = rc.d/vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-git"]
	path = rc.d/vim/bundle/vim-git
	url = http://github.com/tpope/vim-git
[submodule "vim/bundle/vim-scala"]
	path = rc.d/vim/bundle/vim-scala
	url = http://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-pathogen"]
	path = rc.d/vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-snipmate"]
	path = rc.d/vim/bundle/vim-snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "Command-T"]
	path = rc.d/vim/bundle/Command-T
	url = http://github.com/wincent/Command-T.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = rc.d/vim/bundle/rainbow_parentheses
	url = http://github.com/vim-scripts/rainbow_parentheses.vim.git
[submodule "vim/bundle/nginx"]
	path = rc.d/vim/bundle/nginx
	url = http://github.com/vim-scripts/nginx.vim
[submodule "vim/bundle/syntastic"]
	path = rc.d/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/powerline"]
	path = rc.d/vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/gitgutter"]
	path = rc.d/vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/thrift"]
	path = rc.d/vim/bundle/thrift
	url = https://github.com/theevocater/thrift.vim.git
[submodule "vim/bundle/vim-fireplace"]
	path = rc.d/vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-salt"]
	path = rc.d/vim/bundle/vim-salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/vim-go"]
	path = rc.d/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = rc.d/vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/rust"]
	path = rc.d/vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "oh-my-zsh"]
	path = rc.d/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-rhubarb"]
	path = rc.d/vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/bundle/vim-terraform"]
	path = rc.d/vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/bundle/YouCompleteMe"]
	path = rc.d/vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "dotfiles_private"]
	path = dotfiles_private
	url = git@github.com:theevocater/dotfiles_private
[submodule "vim/bundle/ale"]
	path = rc.d/vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "rc.d/vim/bundle/vim-ansible"]
	path = rc.d/vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
