[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-yankring"]
	path = vim/bundle/vim-yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = http://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/tskeleton"]
	path = vim/bundle/tskeleton
	url = http://github.com/tomtom/tskeleton_vim.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = http://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-rainbow"]
	path = vim/bundle/vim-rainbow
	url = http://github.com/chrismetcalf/vim-rainbow.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/DoxygenToolkit.vim"]
	path = vim/bundle/DoxygenToolkit.vim
	url = http://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-perforce"]
	path = vim/bundle/vim-perforce
	url = http://github.com/theevocater/vim-perforce.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git
