repos:
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: shellcheck
- repo: https://github.com/ansible/ansible-lint.git
  rev: v25.12.1
  hooks:
    - id: ansible-lint
      files: ^ansible/
      types: [yaml]
      entry: ansible-lint
      args:
        - ansible/
        - --fix
      always_run: false
