---
- name: Run common tasks ubuntu
  ansible.builtin.import_tasks: ubuntu.yml
  when: ansible_facts['distribution'] == "Ubuntu"
- name: Run common tasks rocky
  ansible.builtin.import_tasks: rocky.yml
  when: ansible_facts['distribution'] == "Rocky"
