---
- name: Add gh cli yum repo
  ansible.builtin.yum_repository:
    name: gh-cli
    description: packages for the GitHub CLI
    baseurl: https://cli.github.com/packages/rpm
    enabled: true
    gpgkey: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x23F3D4EA75716059
- name: Install non-x packages
  ansible.builtin.dnf:
    name:
      - "@Server"
      - "@Development"
      - ansible
      - cmake
      - ctags
      - curl
      - fontconfig
      - gh
      - git
      - mosh
      - neovim
      - python3
      - python3-devel
      - shellcheck
      - tmux
      - vim
      - python3-virtualenv
      - zsh
    update_cache: true
    state: present
- name: Ensure jkaufman exists
  ansible.builtin.user:
    name: jkaufman
    comment: "Jake Kaufman"
    shell: /usr/bin/zsh
    groups: wheel
    append: true
