- name: Ensure {{ tmp_dir }}
  file:
    path: "{{ tmp_dir }}"
    state: directory
    mode: '0755'
- name: Download go {{ go_version }}
  get_url:
    url: "https://dl.google.com/go/go{{ go_version }}.{{ ansible_facts['system'].lower() }}-amd64.tar.gz"
    checksum: "{{ go_checksum }}"
    dest: "{{ tmp_dir }}"
    mode: '0644'
  register: languages_download
- name: Extract go
  unarchive:
    src: "{{ languages_download.dest }}"
    dest: "{{ tmp_dir }}"
