---
- name: Install golang
  ansible.builtin.import_tasks: go.yml
  when: ansible_facts['system'] == "Linux"
  tags:
    - go
- name: Install pyenv
  ansible.builtin.import_tasks: pyenv.yml
  when: ansible_facts['system'] == "Linux"
  tags:
    - pyenv
- name: Install rust
  ansible.builtin.import_tasks: rust.yml
  tags:
    - rust
- name: Build work venv
  ansible.builtin.import_tasks: workvenv.yml
  tags:
    - venv
