---
- name: Ensure {{ tmp_dir }}
  ansible.builtin.file:
    path: "{{ tmp_dir }}"
    state: directory
    mode: "0755"
- name: Download pyenv
  ansible.builtin.get_url:
    url: https://pyenv.run
    dest: "{{ tmp_dir }}/pyenv-run"
    mode: "0755"
  register: languages_download
- name: Run pyenv-run
  ansible.builtin.command:
    cmd: "{{ languages_download.dest }}"
    creates: "{{ ansible_facts['env']['HOME'] }}/.pyenv"
- name: Install python build packages
  become_user: root
  become: true
  ansible.builtin.dnf:
    name:
      - bzip2
      - bzip2-devel
      - gcc
      - gdbm-libs
      - libffi-devel
      - libnsl2
      - libuuid-devel
      - make
      - openssl-devel
      - patch
      - readline-devel
      - sqlite
      - sqlite-devel
      - tk-devel
      - xz-devel
      - zlib-devel
    update_cache: true
    state: present
