---
- name: Ensure ~/.jakeman/bin/
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.jakeman/bin"
    state: directory
    mode: "0755"
- name: Build work venv
  ansible.builtin.pip:
    chdir: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/"
    requirements: requirements.txt
    virtualenv: venv
    virtualenv_python: python3
- name: Symlink binaries from venv to ~/.jakeman/bin
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/.dotfiles/venv/bin/{{ item }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.jakeman/bin/{{ item }}"
    state: link
  loop:
    - ansible-lint
    - pip
    - pip-compile
    - pipenv
    - pre-commit
    - python3
    - qmk
    - tox
    - virtualenv
    - wheel
